<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Create New Inquiry Module
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0);" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file-o"></i> Create New Modules 
                </li>
            </ol>
        </div>
    <!-- /.row -->
   
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">

            <form role="form">
                
                <fieldset class="form-group">
                    <label>Title</label>
                    <input class="form-control" placeholder="Enter title of inquiry module">
                </fieldset>
                <fieldset class="form-group">
                    <label>Description</label>
                    <input class="form-control" placeholder="Enter the short description of the inquiry module.">
                </fieldset>
                <fieldset class="form-group">
                    <label>Outcome</label>
                    <input class="form-control" placeholder="Enter the expected outcome of the inquiry module for example: Develope Reasoning skill,Obervation skill etc...">
                </fieldset>
                <fieldset class="form-group">
                    <label>Mode Of Inquiry</label>
                    <input class="form-control" placeholder="Enter mode of inquiry for example Ethical inquiry,Scintific Inquiry etc...">
                </fieldset>
                <fieldset class="form-group">
                    <label>Age group</label>
                    <input class="form-control" placeholder="Please enter age group this module will be applicable for">
                </fieldset>

                
                <fieldset class="form-group">
                    <label>Introduction</label>
                    <textarea class="form-control" rows="3" placeholder="Enter the Introduction of the module. This part will be visible to students."></textarea>
                </fieldset>

                
                <fieldset class="form-group">
                    <label>Select Standard for which module will be applicable(you can select multiple standerds)</label>
                    <select multiple="" class="form-control">
                        <option>Standard 5 (10 year)</option>
                        <option>Standard 6 (11 year)</option>
                        <option>Standard 7 (12 year)</option>
                        <option>Standard 8 (13 year)</option>
                        <option>Standard 9 (14 year)</option>
                    </select>
                </fieldset>

                 <fieldset class="form-group">
                    <label for="exampleInputFile">Select Video/Audio/Image File</label>
                    <input type="file" class="form-control-file" id="exampleInputFile">
                </fieldset>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <button type="submit" class="btn rounded-btn" routerLink="/">Continue</button>
                
    
                </form>

    <!-- /.row -->
      
    </div>
    </div>
    </div>
    </div>
    </div>
    